@page
@model BasketballNewZealand.Pages.Drafts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Draft</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Draft.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Draft.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Draft.Players)
        </dt>
        <dd class="col-sm-10">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Draft.DraftID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
