@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Basketball New Zealand shows top 5 players from University
                    to be drafted in 5 different teams in 2021.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Visit nz.basketball to see information about basketball leagues in New Zealand.
                </p>
                <p>
                    <a href="https://nz.basketball/" class="stretched-link">See more NZ Basketball.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Visit NBL to see professional men and women athletes, and see the latest news of NBL.
                </p>
                <p>
                    <a href="https://men.nznbl.basketball/" class="stretched-link">See NBL. Professional Players.</a>
                </p>
            </div>
        </div>
    </div>
</div>